@import "../styles/colors";

.menu-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  .menu {
    display: flex;
    flex-direction: column-reverse;
    border: $moonstone solid 1px;
    border-radius: 10px;
    background-color: $antiflash-white;
    margin: 1rem;

    .icon-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }

    .menu-items {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .menu-item {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .menu-button {
          padding: 0.5rem;
          margin: 0.5rem 1rem 0.5rem 0.5rem;
          align-items: center;
          flex-direction: column;
          background-color: $atomic-tangerine;
          border-radius: 10px;
          box-shadow: 0.5rem 5px $moonstone;
          border: none;
        }
      }


      >:last-of-type {
        margin-bottom: 1rem;
      }
    }
  }
}




