@import "../styles/colors";

ul {
  list-style-type: none;
  color: $text-primary;
}

li {
  float: left;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.li-text {
  padding-bottom: 2px;
}

.v-line, .h-line {
  background-color: $text-primary;
  transform-origin: center;
}

.h-line {
  height: 1px;
  width: 100%;
  transform: scaleX(0);
}

.v-line {
  width: 1px;
  height: 20px;
  float: none;

  transform: scaleY(0);
}